@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Montserrat-Medium.woff");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/Montserrat-MediumItalic.woff");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Montserrat-SemiBold.woff");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Montserrat-ExtraBold.woff");
  font-display: swap;
}
*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ffffff;
  font-family: "Montserrat";
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
button:active,
button:focus {
  outline: none;
}

.open {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  fill: #231F20;
}
.open--rotate {
  transform: rotate(45deg);
}
.open:hover {
  background-color: #85383D;
  fill: #ffffff;
  transition: 0.2s linear;
}
.open--active {
  transform: rotate(45deg);
  background-color: #85383D;
  fill: #ffffff;
}
.open--active--rotate {
  transform: rotate(90deg);
  background-color: #ffffff;
  fill: #231F20;
}

.svg {
  display: block;
}
.svg--plus {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  width: 100%;
}

.offer {
  color: #8D5A3E;
  text-decoration: underline;
}
.offer:hover {
  color: #DDC6B4;
  transition: 0.2s linear;
}

.header {
  padding: 40px 0 0 0;
}
.header__inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 174px;
  height: 36px;
}
.header__logo img {
  display: block;
  width: 100%;
  height: 100%;
}

.title {
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 60px;
  text-transform: uppercase;
}
.title--intro {
  padding: 30px 0 60px 0;
  width: 700px;
  font-size: 60px;
}
.title--list {
  margin-bottom: 35px;
}
.title--special {
  position: relative;
}
.title--special::after {
  content: "";
  display: flex;
  flex: 0 0 auto;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../img/special/title-item.svg");
  width: 27px;
  height: 51px;
  position: absolute;
  bottom: 55px;
  right: 75px;
}
.title--buy {
  color: #85383D;
  padding: 43px 0 45px 0;
}

.subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 44px;
}
.subtitle--intro {
  width: 440px;
}
.subtitle--time {
  width: 300px;
  margin-left: 23px;
}
.subtitle--italic {
  font-style: italic;
}
.subtitle--how {
  width: 600px;
}
.subtitle--results {
  width: 525px;
  margin: 0 auto;
  margin-top: 20px;
}
.subtitle--module {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-left: 20px;
  position: relative;
  z-index: 100;
}
.subtitle--module::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 105%;
  height: 45px;
  background-color: #DDC6B4;
  border-radius: 10px;
}
.subtitle--program {
  display: inline;
  padding: 8px 16px;
  border: 1px solid #672424;
  background-color: #DDC6B4;
  border-radius: 10px;
}

.text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #2C1410;
}
.text--decoration {
  padding: 0 0 24px 0;
  width: 510px;
}
.text--decoration::after {
  margin-top: 35px;
  display: block;
  content: "";
  width: 71px;
  height: 3px;
  background: #A66230;
}
.text--bold {
  font-weight: 800;
}
.text--blue {
  color: #85383D;
}
.text--center {
  text-align: center;
}
.text--white {
  color: #ffffff;
}
.text--name {
  margin-bottom: 30px;
  width: 346px;
}
.text--small {
  margin-top: 25px;
  display: block;
  width: 465px;
  font-size: 16px;
  line-height: 24px;
  color: #2C1410;
  font-style: italic;
}
.text--program {
  margin-bottom: 30px;
}
.text__bg--red {
  padding: 6px 18px;
  border-radius: 10px;
  background-color: #85383D;
}
.text__bg--brown {
  position: relative;
  z-index: 100;
}
.text__bg--brown::before {
  content: "";
  width: 105%;
  height: 26px;
  display: block;
  background-color: #DDC6B4;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: -10px;
  z-index: -1;
}
.text--for {
  margin-bottom: 30px;
}
.text--semibold {
  font-weight: 700;
}
.text--brown {
  color: #AB7051;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.text--brown::before {
  display: block;
  content: "";
  background-image: url("../img/program/triangles-brown.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 35px;
  height: 12px;
  margin-right: 11px;
}
.text--red {
  color: #85383D;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.text--red::before {
  display: block;
  content: "";
  background-image: url("../img/program/triangles-red.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 35px;
  height: 12px;
  margin-right: 11px;
}
.text--lmargin {
  margin-left: 45px;
}
.text--price {
  padding: 45px 0 55px 0;
  text-align: center;
  font-weight: 700;
  color: #000000;
  position: relative;
}
.text--price::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 312px;
  height: 3px;
  background-color: #2C1410;
}
.text--buy {
  color: #85383D;
  font-size: 60px;
  line-height: 56px;
  font-weight: 800;
}
.text--currency {
  font-size: 30px;
}
.text--offer {
  font-size: 16px;
}

.underline {
  position: relative;
}
.underline--intro {
  display: inline;
}
.underline--intro::before {
  position: absolute;
  content: "";
  display: block;
  background-image: url("../img/intro/bg-item.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 305px;
  height: 70px;
  top: -7px;
  right: -40px;
  z-index: -1;
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 265px;
  height: 70px;
  border-radius: 20px;
  padding: 23px 0;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  font-family: "Montserrat";
  background-color: #85383D;
}
.button:hover {
  background-color: #DDC6B4;
  transition: 0.2s linear;
}
.button--intro {
  position: relative;
}
.button--intro::before {
  content: url("../img/intro/intro-triangles.svg");
  position: absolute;
  top: 24px;
  left: -127px;
}
.button--brown {
  background-color: #DDC6B4;
  border: 1px solid #161616;
  color: #161616;
  position: relative;
}
.button--brown:hover {
  background-color: #85383D;
  color: #ffffff;
  transition: 0.2s linear;
}
.button--brown::before {
  content: url("../img/program/program-item.svg");
  display: flex;
  flex: 0 0 auto;
  position: absolute;
  top: 27px;
  left: -120px;
}
.button--buy {
  margin: 0 auto;
  background: #DDC6B4;
  border: 1px solid #000000;
  border-radius: 10px;
  font-size: 20px;
  line-height: 38px;
  color: black;
}
.button--buy:hover {
  background-color: #85383D;
  color: #ffffff;
  transition: 0.2s linear;
  border: 1px solid #85383D;
}

.list__item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}
.list__item:last-of-type {
  margin-bottom: 0;
}
.list__item--circle::before {
  content: "";
  display: flex;
  flex: 0 0 auto;
  margin-right: 26px;
}
.list__item--circle:nth-of-type(1)::before {
  content: url("../img/special/item-1.svg");
}
.list__item--circle:nth-of-type(2)::before {
  content: url("../img/special/item-2.svg");
}
.list__item--circle:nth-of-type(3)::before {
  content: url("../img/special/item-3.svg");
}
.list__item--circle:nth-of-type(4)::before {
  content: url("../img/special/item-4.svg");
}
.list__item--circle:nth-of-type(5)::before {
  content: url("../img/special/item-5.svg");
}
.list__item--circle:nth-of-type(6)::before {
  content: url("../img/special/item-6.svg");
}
.list__item--circle__red {
  display: flex;
  align-items: baseline;
}
.list__item--circle__red::before {
  content: "";
  display: flex;
  flex: 0 0 auto;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #85383D;
  margin-right: 15px;
}
.list__special {
  width: 515px;
}

.intro {
  overflow: hidden;
}
.intro__inner {
  padding: 42px 0 170px 0;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.intro__block {
  display: flex;
  align-items: center;
  margin-bottom: 38px;
}
.intro__img {
  width: 635px;
  position: absolute;
  right: -125px;
  bottom: 0px;
}
.intro__img--d {
  display: block;
}
.intro__img--m {
  display: none;
}
.intro__img img {
  display: block;
  width: 100%;
}

.for {
  padding: 120px 0 60px 0;
  background-color: #85383D;
}
.for__inner {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.for__inner--item {
  width: 31%;
  background-color: #ffffff;
  box-shadow: 30px 30px 40px #672424;
  border-radius: 10px;
  overflow: hidden;
}
.for__inner--item__header {
  display: block;
  width: 100%;
  height: 260px;
}
.for__inner--item__header img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.for__inner--item__body {
  padding: 55px 60px 81px 60px;
  display: flex;
  flex-direction: column;
}

.program {
  background-color: #ffffff;
  padding: 60px 0;
}
.program__title {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.program__inner {
  margin-top: 50px;
  margin-bottom: 80px;
}
.program__inner:last-of-type {
  margin-bottom: 0;
}
.program__item--m {
  display: block;
  margin: 0 auto 10px auto;
  width: 80%;
}
.program__item--m:last-child {
  margin-bottom: 0;
}
.program__item--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 19px;
  background: #DDC6B4;
}
.program__item--body {
  padding: 15px 19px;
  border-bottom: 1px #ddc6b4 solid;
  border-right: 1px #ddc6b4 solid;
  border-left: 1px #ddc6b4 solid;
  display: none;
}
.program__item--body__active {
  display: block;
}
.program__item--block__text {
  padding: 25px 0 15px 0;
}

.special {
  padding: 60px 0 49px 0;
  background-color: #85383D;
  position: relative;
  overflow: hidden;
}
.special::after {
  content: url("../img/special/special-item.svg");
  display: block;
  position: absolute;
  bottom: 0;
  right: -25px;
}
.special__inner {
  padding: 0 45px 0 45px;
  margin: 0 auto;
}
.special__block {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.special__img {
  display: block;
  position: relative;
  width: 480.89px;
  border-radius: 10px;
  z-index: 100;
}
.special__img::before {
  content: "";
  display: block;
  background-color: #DDC6B4;
  position: absolute;
  top: -15px;
  right: -15px;
  width: 100%;
  height: 100%;
  box-shadow: 30px 30px 30px #4F1616;
  border-radius: 10px;
  z-index: -1;
}
.special__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.autor {
  background: #85383D;
  padding: 112px 0 80px 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.autor::before {
  content: url("../img/autor/autor-item.svg");
  display: block;
  position: absolute;
  bottom: 50%;
  left: 0px;
}
.autor::after {
  content: url("../img/special/special-item.svg");
  display: block;
  position: absolute;
  bottom: 50%;
  right: -25px;
}
.autor__links {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.autor__links--item {
  display: block;
  color: #DDC6B4;
  font-size: 26px;
  width: 220px;
  height: 90px;
  padding: 11px 28px;
  margin-right: 20px;
  text-align: center;
}
.autor__links--item:hover {
  background-color: #DDC6B4;
  color: #2C1410;
  font-weight: 800;
  border-radius: 10px;
  box-shadow: 10px 10px 40px #672424;
  transition: 0.2s linear;
}
.autor__links--item:focus {
  background-color: #DDC6B4;
  color: #2C1410;
  font-weight: 800;
  border-radius: 10px;
  box-shadow: 10px 10px 40px #672424;
}
.autor__links--item:last-child {
  margin-right: 0;
}
.autor__inner {
  margin-top: 71px;
}
.autor__inner--d {
  display: block;
}
.autor__inner--m {
  display: none;
}
.autor__item {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 91px 110px 167px 70px;
  background-color: #fff;
  box-shadow: 0px 9px 4px #672424;
  border-radius: 10px;
  position: relative;
}
.autor__item::after {
  content: url("../img/for/for-item-r.svg");
  position: absolute;
  bottom: 40px;
  right: 40px;
}
.autor__img {
  display: flex;
  flex: 0 0 auto;
  width: 480px;
  position: relative;
  z-index: 100;
}
.autor__img::before {
  content: "";
  display: block;
  background-color: #DDC6B4;
  position: absolute;
  top: -15px;
  right: -15px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: -1;
}
.autor__img img {
  display: block;
  width: 100%;
  height: 100%;
}
.autor__text {
  width: 450px;
  margin-left: auto;
}

.buy {
  padding: 100px 0 120px 0;
}
.buy__inner {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.buy__inner--item {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 33px 12px 104px 12px;
  border: 1px solid #85383D;
  box-shadow: 30px 30px 40px rgba(221, 198, 180, 0.5);
  border-radius: 10px;
}
.buy__inner--currency {
  font-family: "Montserrat";
  margin: 40px 0 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buy__inner--currency p {
  margin: 0;
}
.buy__inner--currency p::after {
  content: "/";
  padding: 0 5px;
}
.buy__inner--currency p:last-child::after {
  display: none;
}
.buy__small {
  margin-top: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  background-color: #85383D;
  padding: 80px 0;
}
.footer__inner {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__inner--text {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
}
.footer__inner--email {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-decoration: underline;
  color: #ffffff;
}
.footer__inner--email:hover {
  color: #DDC6B4;
  transition: 0.2s linear;
}
.footer__link {
  margin: 60px auto 0 auto;
  display: flex;
  justify-content: space-between;
  width: 550px;
}
.footer__link--item {
  display: block;
  width: 65px;
  height: 65px;
  fill: #DDC6B4;
}
.footer__link--item:hover:hover {
  fill: #8D5A3E;
  transition: 0.2s linear;
}
.footer__link--item svg {
  display: block;
  width: 100%;
  height: 100%;
}

@media (max-width: 1440px) {
  .special::after {
    right: -90px;
  }
}
@media (max-width: 1366px) {
  .button--intro::before {
    left: -110px;
  }

  .swiper-new-wrapper {
    width: 95%;
    margin: 0 auto;
  }
}
@media (max-width: 1260px) {
  .swiper-new-wrapper {
    width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 1190px) {
  .container {
    padding: 0 1%;
  }

  .subtitle--how {
    width: 55%;
  }

  .button--intro::before {
    display: none;
  }

  .header {
    padding: 40px 0 20px 0;
  }

  .intro__img {
    width: 55%;
  }

  .special__img {
    height: auto;
    width: 40%;
  }
  .special__inner {
    padding: 0 20px;
  }
}
@media (max-width: 1112px) {
  .intro__img {
    width: 620px;
    right: -120px;
  }

  .for__inner--item {
    width: 32%;
  }
  .for__inner--item__body {
    padding: 55px 50px 81px 50px;
  }
}
@media (max-width: 1040px) {
  .title--special {
    text-align: center;
  }
  .title--special::after {
    display: none;
  }

  .intro__img {
    width: 570px;
  }

  .special__inner {
    padding: 0;
  }
  .special__block {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .special__img {
    margin-top: 60px;
    width: 70%;
  }

  .list__special {
    width: 80%;
  }
}
@media (max-width: 1020px) {
  .intro__img {
    width: 600px;
    right: -190px;
  }

  .for__inner--item__body {
    padding: 55px 40px 81px 40px;
  }
}
@media (max-width: 999px) {
  .container {
    padding: 0 2%;
  }

  .title--intro {
    order: 2;
  }
  .title--buy {
    width: auto;
  }
  .title--autor {
    color: #2C1410;
  }

  .text--results {
    margin-right: 30px;
    margin-top: 15px;
  }
  .text--small {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 40px auto 30px auto;
  }
  .text--small::before {
    content: "";
    background-image: url("../img/autor/quote.svg");
    background-size: 100%;
    display: flex;
    flex: 0 0 auto;
    width: 42px;
    height: 32px;
    margin-right: 10px;
  }
  .text--brown::before {
    display: none;
  }
  .text--brown::after {
    display: block;
    content: "";
    background-image: url("../img/program/triangles-brown.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 35px;
    height: 12px;
    margin-left: 11px;
  }
  .text--red::before {
    display: none;
  }
  .text--red::after {
    display: block;
    content: "";
    background-image: url("../img/program/triangles-red.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 35px;
    height: 12px;
    margin-left: 11px;
  }
  .text--name {
    margin: 0 auto;
  }
  .text--lmargin {
    margin-left: 0;
  }

  .subtitle {
    line-height: 36px;
  }
  .subtitle--intro {
    order: 1;
  }
  .subtitle--how {
    width: 55%;
    order: 3;
  }
  .subtitle--time {
    order: 5;
    width: 40%;
    margin-left: 0;
  }

  .button--intro {
    margin-top: 30px;
  }

  .header {
    padding: 30px 0;
  }

  .intro__inner {
    padding: 0 0 100px 0;
  }
  .intro__img {
    width: 62%;
    right: -140px;
  }
  .intro__img--d {
    display: none;
  }
  .intro__img--m {
    display: block;
  }
  .intro__block {
    order: 4;
    flex-direction: column-reverse;
    margin-top: 20px;
    align-items: flex-start;
  }

  .special {
    padding: 80px 0 50px 0;
  }
  .special__block {
    margin-top: 40px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .special__img {
    width: 60%;
  }

  .for__inner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .for__inner--item {
    width: 50%;
    margin-bottom: 40px;
  }
  .for__inner--item:last-child {
    margin-bottom: 0;
  }

  .autor {
    padding: 60px 0;
    background-color: #fff;
  }
  .autor::before, .autor::after {
    display: none;
  }
  .autor__links {
    display: none;
  }
  .autor__item {
    margin-bottom: 40px;
    width: 90%;
    padding: 0;
    box-shadow: none;
    flex-direction: column;
    justify-content: center;
  }
  .autor__item::after {
    display: none;
  }
  .autor__item:last-child {
    margin-bottom: 0;
  }
  .autor__inner--d {
    display: none;
  }
  .autor__inner--m {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .autor__text {
    margin: 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .autor__img {
    margin: 0 auto;
  }

  .list__for {
    width: 80%;
  }
  .list__autor {
    width: 95%;
    margin: 40px auto 0 auto;
  }

  .buy {
    padding: 60px 0;
  }
  .buy__inner {
    flex-direction: column;
    align-items: center;
  }
  .buy__inner--item {
    width: 80%;
    margin-bottom: 60px;
  }
  .buy__inner--item:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 834px) {
  .title--intro {
    width: auto;
  }
  .title--results {
    width: auto;
  }

  .subtitle--results {
    width: auto;
  }

  .footer__link {
    width: 45%;
  }
  .footer__link--item {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 768px) {
  .intro__img {
    width: 503px;
  }

  .footer__inner--text {
    font-size: 24px;
  }
  .footer__inner--email {
    font-size: 24px;
  }
}
@media (max-width: 667px) {
  .title--intro {
    padding: 20px 0;
    line-height: 65px;
  }

  .subtitle--intro {
    padding: 0;
  }
  .subtitle--how {
    margin: 0;
  }
  .subtitle--results {
    padding: 20px 3% 0 3%;
  }

  .intro__inner {
    padding: 0 0 117px 0;
  }
  .intro__img {
    z-index: -2;
    width: 550px;
    right: -150px;
  }

  .button--buy {
    width: 90%;
  }

  .for {
    padding: 60px 0 40px 0;
  }
  .for__inner {
    margin-top: 40px;
  }
  .for__inner--item {
    width: 70%;
  }
  .for__inner--item__header {
    height: 200px;
  }
  .for__inner--item__body {
    padding: 40px 50px 65px 50px;
  }

  .program {
    padding: 40px 0 60px 0;
  }

  .footer__inner--text {
    font-size: 21px;
  }
  .footer__inner--email {
    font-size: 21px;
  }
  .footer__link {
    margin: 40px auto 0 auto;
    width: 40%;
  }
  .footer__link--item {
    width: 35px;
    height: 35px;
  }

  .list__results {
    width: 90%;
  }
  .list__item--check {
    margin-bottom: 25px;
  }
  .list__item--check::before {
    width: 17px;
    height: 17px;
    display: flex;
    flex: 0 0 auto;
    margin-right: 7px;
  }
}
@media (max-width: 568px) {
  .container {
    padding: 0 3%;
  }

  .header {
    padding: 15px 0 0 0;
  }
  .header__logo {
    width: 140px;
    height: 29px;
  }

  .title {
    font-size: 28px;
    line-height: 35px;
  }
  .title--intro {
    font-size: 32px;
    padding: 20px 0 10px 0;
  }
  .title--autor {
    width: auto;
    margin-bottom: 35px;
  }
  .title--autor::before {
    width: 20px;
    height: 44px;
    position: absolute;
    top: 10px;
    left: -25px;
  }
  .title--buy {
    padding: 24px 0 30px 0;
  }

  .subtitle {
    font-size: 18px;
    line-height: 21px;
  }
  .subtitle--intro {
    font-size: 18px;
    line-height: 22px;
    width: 261px;
  }
  .subtitle--how {
    font-size: 14px;
    line-height: 18px;
  }
  .subtitle--time {
    width: 200px;
  }
  .subtitle--results {
    margin-top: 0;
    text-align: left;
    padding: 20px 0 0 0;
  }
  .subtitle--buy {
    font-size: 21px;
  }

  .text {
    font-size: 16px;
    line-height: 19px;
  }
  .text--autor {
    margin-bottom: 20px;
  }
  .text--offer {
    font-size: 14px;
  }
  .text--before {
    color: #DDC6B4;
  }
  .text--after {
    color: #8ABBF8;
  }
  .text--buy {
    font-size: 44px;
    line-height: 50px;
  }
  .text--price {
    padding: 40px 0 24px 0;
  }
  .text--price::before {
    top: 56%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 2px;
  }
  .text__bg {
    font-size: 20px;
    line-height: 36px;
    font-weight: 800;
  }
  .text--name {
    font-weight: 500;
    text-align: center;
  }

  .underline {
    position: relative;
  }
  .underline--intro::before {
    content: "";
    position: absolute;
    display: block;
    width: 190px;
    height: 45px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../img/intro/bg-item.svg");
    top: -5px;
    right: -13px;
    z-index: -1;
  }
  .underline--autor {
    width: 285px;
  }
  .underline--autor::before {
    position: absolute;
    content: url("../img/autor/autor-underline-m.png");
    top: 13px;
    right: 0;
    z-index: -1;
  }

  .list__item {
    align-items: center;
  }
  .list__for {
    width: 90%;
  }
  .list__autor {
    margin: 25px auto 0 auto;
  }

  .intro__img {
    width: 420px;
  }
  .intro__inner {
    padding: 20px 0 100px 0;
  }

  .button {
    width: 217px;
    height: 55px;
    font-size: 18px;
    padding: 18px 53px;
  }
  .button--intro {
    margin-top: 25px;
  }
  .button--brown::before {
    display: none;
  }
  .button--buy {
    width: 90%;
  }

  .special {
    padding: 30px 0 50px 0;
  }
  .special::after {
    display: none;
  }
  .special__block {
    margin-top: 0;
  }
  .special__inner {
    padding: 0;
  }
  .special__inner::before {
    top: -10px;
    right: -10px;
  }
  .special__img::before {
    top: -7px;
    right: -7px;
  }

  .for__inner--item {
    width: 100%;
  }

  .program__inner {
    margin-top: 40px;
  }
  .program__item--m {
    margin: 0 auto 5px auto;
  }
  .program__item--body {
    background-color: #DDC6B4;
    border-top: 1px #000000 solid;
    padding: 0 19px;
  }

  .open {
    width: 30px;
    height: 30px;
  }

  .autor {
    padding: 60px 0 30px 0;
  }
  .autor__inner {
    margin-top: 50px;
  }
  .autor__img {
    width: 80%;
  }
  .autor__img::before {
    top: -7px;
    right: -7px;
  }
  .autor__item {
    width: 100%;
    margin-bottom: 60px;
  }
  .autor__item:last-child {
    margin-bottom: 0;
  }

  .buy {
    padding: 60px 0;
  }
  .buy__inner {
    margin-top: 40px;
  }
  .buy__inner--currency {
    margin: 20px 0 50px 0;
  }
  .buy__inner--currency .text {
    font-size: 18px;
  }

  .footer {
    padding: 60px 0;
  }
}
@media (max-width: 500px) {
  .intro__img {
    width: 355px;
    right: -127px;
  }
  .intro__inner {
    padding: 20px 0 115px 0;
  }
}
@media (max-width: 430px) {
  .text--small {
    width: 95%;
    font-size: 12px;
    line-height: 18px;
    margin: 20px auto 30px auto;
  }

  .subtitle--time {
    width: 40%;
  }

  .list__special {
    width: 92%;
  }

  .autor__img {
    width: 100%;
  }
}
@media (max-width: 414px) {
  .title--autor {
    font-size: 27px;
    line-height: 32px;
  }

  .subtitle--for {
    padding: 8px;
    font-size: 16px;
  }

  .special__img {
    width: 70%;
  }

  .program__item--m {
    width: 100%;
  }

  .buy__inner--item {
    width: 100%;
    margin-bottom: 40px;
    padding: 35px 10px 80px 10px;
  }

  .footer {
    padding-bottom: 50px;
  }
  .footer__inner {
    margin-top: 25px;
  }
  .footer__inner--text {
    font-size: 14px;
  }
  .footer__inner--email {
    font-size: 14px;
  }
  .footer__link {
    width: 80%;
  }
}
@media (max-width: 390px) {
  .open {
    margin-left: 5px;
  }

  .intro__img {
    right: -120px;
  }
  .intro__block {
    margin-top: 15px;
  }

  .subtitle {
    font-size: 16px;
  }
  .subtitle--intro {
    width: 225px;
  }
  .subtitle--time {
    width: 120px;
    font-size: 14px;
  }
  .subtitle--module {
    margin-left: 10px;
  }
  .subtitle--module::before {
    height: 40px;
  }

  .underline--intro {
    display: block;
  }
  .underline--intro::before {
    top: -5px;
    left: -5px;
  }

  .text--buy {
    font-size: 40px;
    line-height: 47px;
  }
  .text__bg {
    padding: 6px;
  }
  .text__bg--brown::before {
    width: 100%;
    top: 6px;
    left: -3px;
  }
  .text--name {
    width: 310px;
  }

  .program__item--header {
    padding: 15px 12px 15px 12px;
  }
}
@media (max-width: 375px) {
  .title--intro {
    font-size: 28px;
    line-height: 33px;
  }

  .intro__img {
    width: 350px;
  }

  .for__inner--item__body {
    padding: 40px 37px 50px 37px;
  }

  .special__img {
    width: 80%;
  }
}